@font-face {
  font-family: 'Built Titling';
  src: url('./fonts/built-titling.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Built Titling';
  src: url('./fonts/built-titling-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
